<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= form_for @vote_info, html: {role: "form", class: "form-horizontal"} do |f| %>


    <%= render partial: 'form', locals: {f: f} %>


    <div class="pull-right">
      <%= f.submit "Edit", class: "btn btn-primary "  %>
      <%= link_to vote_infos_path do %>
        <button type="button" class="btn btn-default ">
          Back
        </button>
      <% end %>
    </div>

    <% end %>



  </div><!-- end of col-xs-12 col-md-6 col-md-offset-3 -->
</div> <!-- end of row -->