// Place all the styles related to the VoteResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.representatives-carousel{
  margin: 0 50px 50px 50px;
}

.popover-example .popover {
  position: relative;
  display: block;
  margin: 20px;
}

