<div class="col-xs-2 col-md-2 jc_no_wrap nopadding">
  <% if vote_info.representative %>
  <img src="<%=vote_info.representative.profile_img_url%>" class="img-circle" width="60" height="60"><br>
  <% else %>
  <%= img_tag "default_representative_profile_image.jpg", class:"img-circle", width: "60", height: "60" %>
  <% end %>
  <b><%= vote_info.representative.name %></b>
</div>