<div class="col-xs-2 col-md-2 jc_no_wrap nopadding">
  <img src="<%=vote_info.representative.profile_img_url%>" class="img-circle" width="60" height="60"><br>
  <b><%= vote_info.representative.name %></b>
</div>