
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="representatives-carousel">


    <div class="text-center">
    <%= link_to("시작하기", start_vote_results_path, method: :post, class: "btn btn-default" ) %>
    </div>


  </div>
</div>

