<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="jc_main_ment">
    국회의원 300명 중에 당신의 정친(政親)은 누굴까요? 나경원? 이완구? 문재인? 안철수?
    <br>
    매일 뉴스에 오르내리는 이들 말고 296명의 의원 중에 당신과 더 ‘비슷하게’ 생각하는 정친이 숨어있을지도 모릅니다. 정친(政親)은 5분 안으로 300명의 국회의원 중 당신과 가장 잘 맞는 정치인을 찾아드립니다.
    <br><br>
    정치는 머리 아플지라도 정친은 머리 아프지 않습니다! 자 이제 당신의 ‘정친’을 찾으러 가볼까요?
    <br>
    </div>

    <div class="text-center">

    <%= link_to("시작하기", start_vote_results_path, method: :post, class: "btn btn-default jc_btn_custom" ) %>
    <!-- jc_btn_custom 추가했음 -->
    </div>


  </div><!-- end of col-xs-12 col-md-6 col-md-offset-3 -->
</div><!-- end of the row -->

