<div class="jc_all_pad">
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1 class="jc_report_title" >정친 사용자 결과 레포트</h1>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3 page-header">
      <h1>사용자 집계 <small>현재까지 정친을 사용하신 분들은?</small></h1>
    </div>
    <div class="col-xs-4 col-md-2 col-md-offset-3">
        <!-- Whole number of users  -->
        <h1><span class="counter">700</span>명</h1>
        
    </div>
    <div class="col-xs-4 col-md-2">
        <!-- Whole number of finishers  -->
        <h1><span class="counter">300</span>명</h1>
        
    </div>
    
    <div class="col-xs-4 col-md-2">
        <!-- avg of Lap Time  -->
        <h1><span class="counter">832.12</span>초</h1>
        
    </div>
</div>

<div class="row" style="padding:10px">
    <div class="col-xs-12 col-md-6 col-md-offset-3 page-header">
      <h1>가장 인기있는 의원<small>사용자들과 의견이 가장 비슷한 의원들은?</small></h1>
    </div>
    
    <div class="col-xs-4 col-md-2 col-md-offset-3">
        <img src= "/assets/467-c227008f87f6197b22fa224f7dd9dd9ace9457fdc4cbe948099d28695fc8dd84.jpg" class="jc_report_rep_award img-circle"/>
        <h3>1등님</h3>
    </div>
    <div class="col-xs-4 col-md-2">
        <img src= "/assets/467-c227008f87f6197b22fa224f7dd9dd9ace9457fdc4cbe948099d28695fc8dd84.jpg" class="jc_report_rep_award img-circle"/>
        <h3>2등님</h3>
    </div>
    <div class="col-xs-4 col-md-2">
        <img src= "/assets/467-c227008f87f6197b22fa224f7dd9dd9ace9457fdc4cbe948099d28695fc8dd84.jpg" class="jc_report_rep_award img-circle"/>
        <h3>3등님</h3>
    </div>
</div>


<div class="row" style="padding:10px">
    <div class="col-xs-12 col-md-6 col-md-offset-3 page-header">
      <h1>각 의안별 통계<small>의원과 사용자들의 찬반결과는?</small></h1>
    </div>
    <div class="col-xs-12 col-md-3 "></div>

    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
        <div class="vote-result-bar-container bar-legend ">
            <div class="chanseong-bar" style="width: 50%">찬성</div>
            <div class="bandae-bar" style="width: 50%">반대</div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 "></div>

    <div class="col-xs-12 col-md-2 col-md-offset-3">
        <h3>첫번째 안건</h3>

        <div class="vote-result-bar-container">
            <div class="vote-result-bar-label">User</div>
            <div class="vote-result-bar">
                <div class="chanseong-bar" style="width: 90%">70</div>
                <div class="bandae-bar" style="width: 10%">30</div>
            </div>
        </div>
        <div class="vote-result-bar-container">
            <div class="vote-result-bar-label">Repr</div>
            <div class="vote-result-bar">
                <div class="chanseong-bar" style="width: 70%"></div>
                <div class="bandae-bar" style="width: 30%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <h3>첫번째 안건</h3>
        <div class="vote-result-bar-container">
            <div class="vote-result-bar-label">User</div>
            <div class="vote-result-bar">
                <div class="chanseong-bar" style="width: 70%"></div>
                <div class="bandae-bar" style="width: 30%"></div>
            </div>
        </div>
        <div class="vote-result-bar-container">
            <div class="vote-result-bar-label">Repr</div>
            <div class="vote-result-bar">
                <div class="chanseong-bar" style="width: 70%"></div>
                <div class="bandae-bar" style="width: 30%"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <h3>첫번째 안건</h3>
        <div class="vote-result-bar-container">
            <div class="vote-result-bar-label">User</div>
            <div class="vote-result-bar">
                <div class="chanseong-bar" style="width: 70%"></div>
                <div class="bandae-bar" style="width: 30%"></div>
            </div>
        </div>
        <div class="vote-result-bar-container">
            <div class="vote-result-bar-label">Repr</div>
            <div class="vote-result-bar">
                <div class="chanseong-bar" style="width: 70%"></div>
                <div class="bandae-bar" style="width: 30%"></div>
            </div>
        </div>
    </div>
</div>


    <div id="jc_background_c" class="collapse flow-text">
    <div id="jc_debate_color">


    </div>
    






  </div><!-- col-xs-12 col-md-6 col-md-offset-3 -->
</div><!-- row -->
</div><!-- jc_all_pad -->
